// bower:scss
// endbower
@import 'base';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $less-black;
  margin: 0;
}

.hero-unit {
  @include rounded(6px);
  @include box-shadow(0px, 5px, 20px, gray);

  margin: 50px auto 0 auto;
  width: 300px;

  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  padding: 60px;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    letter-spacing: -1px;
    color: $heading-color;
  }
  h1 {
    font-size: 60px
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import 'partials/header';
@import 'partials/footer';

